{
   "buildInfo":{
      "rustc":{
         "version":"1.79.0-nightly",
         "commitHash":"ab5bda1aa70f707014e2e691e43bc37a8819252a",
         "commitDate":"2024-04-08",
         "channel":"Nightly",
         "short":"rustc 1.79.0-nightly (ab5bda1aa 2024-04-08)"
      },
      "contractCrate":{
         "name":"outputs",
         "version":"0.0.0"
      },
      "framework":{
         "name":"klever-sc",
         "version":"0.43.3"
      }
   },
   "name":"Outputs",
   "constructor":{
      "inputs":[
         
      ],
      "outputs":[
         
      ]
   },
   "endpoints":[
      {
         "name":"list_token_identifier",
         "mutability":"readonly",
         "inputs":[
            
         ],
         "outputs":[
            {
               "type":"List<TokenIdentifier>"
            }
         ]
      },
      {
         "name":"list_i32",
         "mutability":"readonly",
         "inputs":[
            
         ],
         "outputs":[
            {
               "type":"List<i32>"
            }
         ]
      },
      {
         "name":"list_u8",
         "mutability":"readonly",
         "inputs":[
            
         ],
         "outputs":[
            {
               "type":"List<u8>"
            }
         ]
      },
      {
         "name":"list_of_lists_tokens",
         "mutability":"readonly",
         "inputs":[
            
         ],
         "outputs":[
            {
               "type":"List<List<TokenIdentifier>>"
            }
         ]
      },
        {
            "name": "list_bigint",
            "mutability": "readonly",
            "inputs": [],
            "outputs": [
                {
                    "type": "List<BigInt>"
                }
            ]
        }
        ,
        {
            "name": "list_address",
            "mutability": "readonly",
            "inputs": [],
            "outputs": [
                {
                    "type": "List<Address>"
                }
            ]
        },
        {
            "name": "list_of_lists_i64",
            "mutability": "readonly",
            "inputs": [],
            "outputs": [
                {
                    "type": "List<List<i64>>"
                }
            ]
        },
        {
          "name": "list_list_list_token",
          "mutability": "readonly",
          "inputs": [],
          "outputs": [
            {
              "type": "List<List<List<TokenIdentifier>>>"
            }
          ]
        },
    {
      "name": "list_list_list_i64",
      "mutability": "readonly",
      "inputs": [],
      "outputs": [
        {
          "type": "List<List<List<i64>>>"
        }
      ]
    }
   ],
   "types":{
      
   }
}